@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Satisfy&display=swap");

/* body {
  background: burlywood;
} */

.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: "Caveat";
  font-size: 25px;
}

.container-fluid {
  background: #ca6363;
}

.infoBook {
  height: 300px;
  width: 420px;
  background: burlywood;
  border: 1px solid #ca6363;
  overflow-y: auto;
}

.modal-button button {
  width: 22px;
  height: 22px;
  border-radius: 50px;
  margin-left: 25px;
  text-align: center;
  line-height: 15px;
  padding-left: 4px;
  background: #ca6363;
}

.modal-text {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #ca6363;
}

.modal-description {
  width: 73%;
  margin-left: 5px;
}

.modal-button {
  width: 25%;
}

.search-book {
  background: #954a4a;
}

.search-book input {
  background: burlywood;
}

.container-cards {
  justify-content: space-between;
  margin-inline: 20px;
}

.card {
  width: 220px;
  height: auto;
  margin-inline: 10px;
  margin-block: 10px;
  border-radius: 5px 5px 5px 0px;
  /* background: #954a4a; */
  background: burlywood;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  border: 1px solid black;
}

.card img {
  object-fit: cover;
  aspect-ratio: 10/16;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.card h6 {
  margin-top: 15px;
}

.description {
  margin-left: 5px;
}

.button {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button button {
  margin-block: 5px;
  margin-inline: 5px;
  background: rgb(188, 188, 188);
  border-radius: 0px 0px 5px;
}

.color-button {
  background-color: #ca6363;
  
}

.display-none {
  display: none;
}
